@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?rl3gsp');
	src:url('fonts/icomoon.eot?#iefixrl3gsp') format('embedded-opentype'),
		url('fonts/icomoon.woff?rl3gsp') format('woff'),
		url('fonts/icomoon.ttf?rl3gsp') format('truetype'),
		url('fonts/icomoon.svg?rl3gsp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
	content: "\e600";
}

.icon-close:before {
	content: "\e601";
}

.icon-run:before {
	content: "\e602";
}

.icon-pause:before {
	content: "\e603";
}

.icon-stop:before {
	content: "\e604";
}

.icon-load:before {
	content: "\e605";
}

.icon-next:before {
	content: "\e609";
}

.icon-add:before {
	content: "\f05d";
}

.icon-delete:before {
	content: "\f0ca";
}

.icon-zoom-in:before {
	content: "\e987";
}

.icon-zoom-out:before {
	content: "\e988";
}

.icon-loop2:before {
	content: "\ea2e";
}

.icon-arrow-up2:before {
	content: "\ea3a";
}

.icon-arrow-down2:before {
	content: "\ea3e";
}

