.panel {
  
}

.sub-panel {
  background-color:#888888;
  border-radius:6px;
  padding:15px;
  margin-bottom:3px;
  padding-bottom:25px;
  font-family: 'Poiret One', cursive;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  color:white;
}

#ecol-canvas {
  background-color:white;
  margin-right:3px;
  width:464px;
  height:598px;
  border-radius:6px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  float:left;
}

#right-panel {
  width:355px;
  float:left;
}

.button {
  padding:1px;
  width:149px;
  border-radius:3px;
  margin:2px;
}

#clear {
  width:312px;
}

.particle-btn {
  
}

#particle-sliders {
  margin-top:15px;
}

.slider-comp {
  height:auto;
  display:table;
}

.slider-title {
  width:100px;
  padding-bottom: 20px;
  margin-right:20px;
  text-align:center;
  float:left;
}

.slider {
  float:left;
  width:150px;
  margin-top:5px;
}

.slider-val {
  float:left;
  margin-left:10px;
  text-align:center;
  width:20px;
  margin-top:5px;
}

#sim-controls {
  
}

#sim-slider-controls {
  margin-top:15px;
}

#bottom-panel {
  margin-top:10px;
  width:440px;
}

#simulation-info {
  width:464px;
  float:left;
  padding:1px;
}

.sim-info {
  width:210px;
  float:left;
}
